<p>
  <b>Path:</b>
  <%=h @evolution_picture.path %>
</p>

<p>
  <b>Evolution:</b>
  <%=h @evolution_picture.evolution %>
</p>


<%= link_to 'Edit', edit_evolution_picture_path(@evolution_picture) %> |
<%= link_to 'Back', evolution_pictures_path %>
