<%= render "#{ApplicationHelper::GENERAL_SHOW_TEMPLATES_PATH}/show_header_footer", :path => edit_address_label_path(@address_label) %>

<fieldset class="inputs_show">
  <legend>
	  Address Label
  </legend>

	<ol>
		<li>
			<label>Label:</label>
			<%=h @address_label.label %>
		</li>
	</ol>
</fieldset>

<%= render "#{ApplicationHelper::GENERAL_SHOW_TEMPLATES_PATH}/show_header_footer", :path => edit_address_label_path(@address_label) %>
