<h1>Listing evolutions</h1>

<table>
  <tr>
    <th>Attendance date</th>
    <th>Description</th>
  </tr>

<% for evolution in @evolutions %>
  <tr>
    <td><%=h evolution.attendance_date %></td>
    <td><%=h evolution.description %></td>
  </tr>
<% end %>
</table>
