input[type="text"] {
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    height: 15px;
    float: left;
}

textarea {
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    height: 80px;
    float: left;
}

select, input[type="text"], textarea {
    width: 200px;
    float: left;
}

label {
    font: 12px Arial, Helvetica, sans-serif;
    float: left;    
    width: 150px;    
    margin-right: 1em;    
    text-align: right;
    clear: right;
}

.div_remove {   
    width: 365px;    
    text-align: right;
}

.div_add {
    width: 365px;    
    text-align: right;
}

.inputs li {
    list-style: none;
    clear: both;
    padding: 3px 0px 3px 0px;
    
}
 
.inputs {
    width: 800px;
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8F8F8;
}

legend {
    font-family: sans-serif;
    font-size: 14px;
    color: #777777;
    font-weight: bold;
}

a:link {
	font-size: 11px;
	color: #0000FF;
	text-decoration: none
}

a:visited {
	font-size: 11px;
	color: #0000FF;
	text-decoration: none
}

a:hover {
	font-size: 11px;
	text-decoration: underline; 
	color: #FF0000;
}

a:active {
	font-size: 11px;
	text-decoration: none
}

.inline-errors {
   float: left;
   color:#FF0000;
   width: 350px;
   margin-left: 5px;
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
}

.calendar_date_select_popup_icon {
  float: left;  
  margin-left: 3px;
}

abbr {        
    color: #FF0000;        
    font-size: 110%;
    font-style: normal;        
    text-transform: uppercase;
    margin-left: 3px;
}

.div_error_title {
    border: 1px solid #FF0000;
    width: 800px;
    background-color: #FFBBBB;
    text-align: center;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    margin: auto;
    margin-bottom: 5px;
}
