body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

img {
	border: 1px solid #000000;
}

input[type="text"], input[type="password"] {
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    height: 15px;
}

textarea {
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    height: 80px;
}

select, input[type="text"], input[type="password"], textarea {
    width: 200px;
    float: left;
}

label {
    font: 12px Arial, Helvetica, sans-serif;
    float: left;    
    width: 150px;    
    margin-right: 1em;    
    text-align: right;
    clear: right;
}

legend {
    font-family: sans-serif;
    font-size: 14px;
    color: #777777;
    font-weight: bold;
}

a:link {
	font-size: 12px;
	color: #0000FF;
	text-decoration: none;
}

a:visited {
	font-size: 12px;
	color: #0000FF;
	text-decoration: none;
}

a:hover {
	font-size: 12px;
	text-decoration: underline; 
	color: #FF0000;
}

a:active {
	font-size: 12px;
	text-decoration: none;
}

abbr {        
    color: #FF0000;        
    font-size: 110%;
    font-style: normal;        
    text-transform: uppercase;
    margin-left: 3px;
}

select.floatless {
    float: none;
}

div.remove {   
    width: 365px;    
    text-align: right;
    margin: 5px 0 5px 0;
}

div.add {
    width: 365px;    
    text-align: right;
    margin: 5px 0 5px 0;
}

div.area_title {
	margin: auto;
	margin-bottom: 10px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	width: 800px;
}

div.error_title {
    border: 1px solid #FF0000;
    width: 800px;
    background-color: #FFBBBB;
    text-align: center;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    margin: auto;
    margin-bottom: 5px;
}

div.footnote_links_buttons {
	width: 819px;
	padding: 5px 0px 5px 0px;
	text-align: center;
	float: center;
	margin: auto;
}

div.patient_selector {
	width: 819px;
	padding: 5px 0px 5px 0px;
	text-align: center;
	overflow: auto;
	margin: auto;
}

div.no_records {
    width: 819px;
	padding: 5px 0px 5px 0px;
	text-align: center;
	overflow: auto;
	margin: auto;
}

div.user {
    width: 819px;
    padding: 5px 0px 5px 0px;
	margin: auto;
	overflow: auto;
	text-align: right;
}

div.devise_shared_links {
    width: 819px;
    padding: 5px 0px 5px 0px;
	overflow: auto;
	margin: auto;
	text-align: left;
}

div.notice {
    border: 1px solid green;
    background-color: #EEFFEE;
    color: green;
    width: 400px;
    height: 20px;
    padding: 5px 0px 5px 0px;
	overflow: auto;
	margin: auto;
	margin-bottom: 5px;
	text-align: center;
}

.inputs li, .inputs_show li {
    list-style: none;
    clear: both;
    padding: 3px 0px 3px 0px;
    
}
 
.inputs, .inputs_show {
    width: 800px;
    border: 1px solid #999999;
    margin: auto;
    background-color: #F8F8F8;
}

.inputs_show {
	width: 450px;
}

.inputs_show label {
	font-weight: bold;
}

.inline-errors {
   float: left;
   color:#FF0000;
   width: 350px;
   margin-left: 5px;
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
}

.calendar_date_select_popup_icon {
  float: left;  
  margin-left: 3px;
}

.table_index {
    border-collapse: collapse;
    border: 1px solid #999;
    margin: auto;
}

.table_index th { 
    padding: 0.5em;
    text-align: center;
    font-weight: bold;
    background-color: #90AAFF;
    color: #1F3479;
}

.table_index tr {
    border: 1px solid #FFF;
}

.table_index td {
    padding: 0.5em;
    text-align: center;
    background-color: #dce4ff;
    color: #1F3479;
}

.table_index tr:hover th[scope=row], .table_index tr:hover td
{
    background-color: #c7d4ff;
} 
