<%= render "#{ApplicationHelper::GENERAL_SHOW_TEMPLATES_PATH}/show_header_footer", :path => edit_telephone_label_path(@telephone_label) %>

<fieldset class="inputs_show">
  <legend>
	  Telephone Label
  </legend>

	<ol>
		<li>
			<label>Label:</label>
			<%=h @telephone_label.label %>
		</li>
	</ol>
</fieldset>

<%= render "#{ApplicationHelper::GENERAL_SHOW_TEMPLATES_PATH}/show_header_footer", :path => edit_telephone_label_path(@telephone_label) %>