<% semantic_form_for resource_name, resource, :url => password_path(resource_name) do |f| %>

  <% f.inputs "Forgot your password?" do %>
    <%= f.input :email %>
  <% end %>

  <div class="devise_shared_links">
    <%= render :partial => "shared/devise_links" %>
  </div>

  <div class="footnote_links_buttons">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>
