<table>
	<tr valign="top">
      <td colspan="2">
        Surgeries <br />
        <%= render 'patients/nested_elements', :f => f, :prefix => :patients, :element => :patient_surgeries %>
      </td>
    </tr>
</table>
