<div class="fields">
  <table>
    <tr>
      <td>
	      <%= f.collection_select :telephone_label_id, TelephoneLabel.all, :id, :label, :include_blank => true %>:
      </td>
      <td>
	      <%= f.text_field :number %>
      </td>
      <td>
	      <%= f.hidden_field :_destroy %>
	      <%= link_to_remove_fields "X", f %>
      </td>
    </tr>
  </table>
</span>
