<% semantic_form_for(@health_insurance) do |f| %>

	<% unless @health_insurance.errors.empty? %>
    <div class="error_title">
      An error has occurred!
    </div>
  <% end %>
	
	<% f.inputs "Health Insurance" do %>
		<%= f.input :name %>
	<% end %>
	
	<div class="footnote_links_buttons">
  	<%= f.submit action %>
		<%= submit_tag "Cancel" %>
	</div>
<% end %>
