<%= render "#{ApplicationHelper::GENERAL_SHOW_TEMPLATES_PATH}/show_header_footer", :path => edit_health_insurance_path(@health_insurance) %>

<fieldset class="inputs_show">
  <legend>
	  Health Insurance
  </legend>

	<ol>
		<li>
			<label>Name:</label>
			<%=h @health_insurance.name %>
		</li>
	</ol>
</fieldset>

<%= render "#{ApplicationHelper::GENERAL_SHOW_TEMPLATES_PATH}/show_header_footer", :path => edit_health_insurance_path(@health_insurance) %>
