<h1>Listing telephones</h1>

<table>
  <tr>
    <th>Telephone label</th>
    <th>Number</th>
  </tr>

<% for telephone in @telephones %>
  <tr>
    <td><%=h telephone.telephone_label.label %></td>
    <td><%=h telephone.number %></td>
  </tr>
<% end %>
</table>
