<% semantic_form_for(@patient_history_label) do |f| %>

	<% unless @patient_history_label.errors.empty? %>
    <div class="error_title">
      An error has occurred!
    </div>
  <% end %>

	<% f.inputs "Patient History Labels" do %>
		<%= f.input :label %>
	<% end %>
	
	<div class="footnote_links_buttons">
  	<%= f.submit action %>
		<%= submit_tag "Cancel" %>
	</div>
<% end %>
