<div class="footnote_links_buttons">
  <% if defined? path %>
	  <%= link_to 'Edit', path %> |
	<% end %>
	<%= link_to 'Back', :controller => session[:back_controller], :action => session[:back_action] %>
</div>
